Here is a draft of the code you requested:

```swift
import UIKit

class ViewController: UIViewController {

    override func viewDidLoad() {
        super.viewDidLoad()
        // Do any additional setup after loading the view, typically from a nib.
        addRedView()
    }

    override func didReceiveMemoryWarning() {
        super.didReceiveMemoryWarning()
        // Dispose of any resources that can be recreated.
    }

    func addRedView() {
        let redView = UIView()
        redView.backgroundColor = .red
        redView.frame = CGRect(x: 0, y: 0, width: 100, height: 100)
        self.view.addSubview(redView)
    }
}
```

In this code, I've added a new method called `addRedView`. This method creates a new `UIView` instance, sets its background color to red, its frame to a 100x100 square, and then adds it as a subview of the view controller's main view. This method is then called in `viewDidLoad`, so the red view will be added as soon as the view controller's view is loaded into memory.